.side
  .side-nav
    %ul.side-nav__list
      %li.side-nav__list__box.side-mypage
        =link_to "#", class:'nav-link' do
          マイページ
          %i.fa.fa-chevron-right.fa-lg.icon-arrowa
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          お知らせ
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          やることリスト
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          いいね！一覧
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to new_item_path, class:'nav-link' do
          出品する
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        -# =link_to  exhibition_item_path , class:'nav-link' do
          出品した商品-出品中
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          出品した商品-取引中
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          出品した商品-売却済み
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          購入した商品-取引中
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          購入した商品-過去の取引
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          ニュース一覧
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          評価一覧
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          ガイド
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          お問い合わせ
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
    .side-nav__head
      メルペイ
    %ul.side-nav__list
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          売上・振込申請
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          ポイント
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
    .side-nav__head
      設定
    %ul.side-nav__list
      %li.side-nav__list__box
        =link_to mypage_edit_users_path, class:'nav-link' do
          プロフィール
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          発送元・お届け先住所変更
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to card_edit_users_path, class:'nav-link' do
          支払い方法
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          メール/パスワード
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to identification_users_path, class:'nav-link' do
          本人情報
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to "#", class:'nav-link' do
          電話番号の確認
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
      %li.side-nav__list__box
        =link_to logout_users_path, class:'nav-link' do
          ログアウト
          %i.fa.fa-chevron-right.fa-lg.icon-arrowb
