#header
  .header
    .header__main
      .header__main__logo
        =link_to root_path, class:"mercarilogo" do
          =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", alt: "mercari"
      .header__main__search
        = form_with method: :get, local: true do |f|
          = f.text_field :search, placeholder: '何かお探しですか？', class:'search-box'
          %button{type: "submit"}
            =fa_icon "search", class:'fa-search'
    .header__contents
      .header__contents__left
        .header__contents__left__caegory
          .header__contents__left__caegory__box
            .header__contents__left__caegory__box__icon
              =fa_icon "list-ul", class:'caegory__icon'
              カテゴリーから探す
        .header__contents__left__brand
          .header__contents__left__brand__box
            .header__contents__left__brand__box__icon
              =fa_icon "tag", class:'brand__icon'
              ブランドから探す
      .header__contents__right
        .header__contents__right__like
          .header__contents__right__like__box
            =link_to "#", class:"like-btn" do
              %i.fa.fa-heart.fa-lg.icon-heart
              いいね！一覧
        .header__contents__right__notice
          .header__contents__right__notice__box
            =link_to "#", class:"notice-btn" do
              %i.fa.fa-bell.fa-lg.icon-heart
              お知らせ
        .header__contents__right__todo
          .header__contents__right__todo__box
            =link_to "#", class:"todo-btn" do
              %i.fa.fa-check.fa-lg.icon-heart
              やることリスト
        .header__contents__right__ava
          .header__contents__right__ava__box
            -# =link_to user_path(current_user.id), class:"ava-btn" do
            -#   = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", width:"32",height:"32"
            -#   マイページ