= render 'user_header'
.mypage-nav
  %ul.nav-content
    %li.bread1
      メルカリ
      %i.fa.fa-angle-right.fa-lg.icon-arrow
    %li.bread2
      マイページ
.mypage-container.clearfix
  = render 'side_bar'
  - if user_signed_in?
    .mypage-content
      .logout
        .logout__box
          .logout__box__button
            =link_to destroy_user_session_path, method: :delete, class:"logout-btn" do
              ログアウト
= render "items/main_footer"