
= render "items/main_header"
.container
  = render "side_bar"
  .mypage-container
    .mypage-container__top 出品した商品
    .mypage-tab-container__main
    %ul.list-tab
      %li.list-tab__yet 出品中
      %li.list-tab__yet 取引中
      %li.list-tab__now 売却済み
    - @items.each do |item|
      -if item.buyer_id
        =link_to details_item_path(item.id) , class:'item_link' do
          .mypage-item
            =image_tag item.images.first.images_url ,width:"50",height:"50"
            .mypage-item__right
              .mypage-item__text 
                = item.name
              .mypage-item__listing
                %span.fa.fa-heart-o.icon
                %span.num 0
                %span.fa.fa-comment-o.icon
                %span.num 0
                %span.selled 販売済 
            %span.fa.fa-angle-right           
  .history-content
  %ul.mypage-history
    %li.mypage-history-pager__left
    %li.mypage-history-pager__right