= render "main_header"
.container
  = render "users/side_bar"
  .mypage-container
    .mypage-container__top 出品した商品
    .mypage-tab-container__main
    %ul.list-tab
      %li.list-tab__now 出品中
      %li.list-tab__yet　取引中
      %li.list-tab__yet　売却済み
    %ul.mypage-item
      %li.mypage-item__text
        %p.name yyyyy
      %li.mypage-item__listing
        %span.fa.fa-heart-o 
        %span.fa.fa-comment-o 
        %span.exhib 出品中

  .history-content
  %ul.mypage-history
    %li.mypage-history-pager__left
    %li.mypage-history-pager__right


    