= render "main_header"
.mypage-content
  .mypage-tab-container
    %h2.mypage-tab-head　出品した商品
-#   .tab-content
-#     %ul.tabs　出品中　
-#     =link_to"#"
-#       %li.tab
-# 　　 %ul.tabs　取引中　
-#     %ul.tabs　売却済み　　

