= render "main_header"
.container
  .mypage-container
    %h2.mypage-container__top 出品した商品
    .mypage-tab-container__main
    %ul.list-tabs
      %li.list-tab
    .mypage-tab-container__main
    %ul.mypage-tabs
      %li.mypage-tab
    %ul.mypage-history

  
  

