.container{
  width: 1020px;
  margin: 40px auto;
  background-color: #F5F5F5;
  display: flex;
  .mypage-container{
  width: 700px;
  height: 466px;
  background: #fff;
  border-width: 0;
  margin: 0;
  padding: 0;
  display: block;
  // font-size: 20px;
  font-family:游ゴシック体;
  font-weight: bold;
    &__top{
      height: 72px;
      width: 700px;
      padding: 0 16px;
      background: #fafafa;
      font-size: 16px;
      line-height: 72px;
      font-weight: bold;
    }
    &__main{
      width: 700px;
    }
  .list-tab{
    background: #eee;
    height: 74px;
    display: flex;
    &__now{
      background: #fff;
      width: 33%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      font-size:16px;
      line-height: 74px;
      border-top: 2px solid #ea352d;
      font-weight: bold;
      height: 74px;
      width: 233px;
    }
    &__yet{
      width: 33%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      font-size:16px;
      line-height: 74px;
      font-weight: bold;
    }
  } 
    .item_link{
      text-decoration: none;
      color: #000;
    .mypage-item{
      width: 700px;
      padding: 16px;
      display: flex;
      position: relative;
      border-bottom: solid 1px #eee;
      &__right{
        padding-left: 20px; 
      .mypage-item__text{
          font-size: 13px; 
          margin-bottom: 18px;  
        }
      .icon{
        color: #ccc; 
        font-size: 15px;
        margin-right: 5px;  
      }
      .num{
        color: #888;
        font-size: 17px;
        margin-right: 5px;  
      }
      .exhib {
        background-color:#0099e8;
        color: #F5F5F5;
        padding: 5px;
        border-radius: 5px;
      }
      }
      .fa-angle-right{
        font-size: 30px;
        position: absolute;
        top:25px;
        right: 15px;
      }
    }
  }
  }
  .mypage-history{
    margin: 40px 0 0;
    &__right{
      height: 44px;
      width: 44px;
      background-color:red;
    }
    &__left{
      height: 44px;
      width: 44px;
      background-color:blue;
    }
  }  
  
}

