body{
  background-color: rgb(245, 245, 245);
  position: relative;
  min-height: 100%;
  color: rgb(51, 51, 51);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
}

@import "reset";
@import "index";
@import "main_header";
@import "main_footer";
@import "sign_up";
@import "sign_in";
@import "font-awesome";
@import "main_category";
@import "main_category_top";
@import "side-bar";
@import "mypage_header";
@import "mypage";


*{
  box-sizing: border-box;
}